<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="com.example.root">

    <application
        android:name=".MultiApplication"
        android:allowBackup="false"
        android:icon="@android:drawable/ic_menu_compass"
        android:label="Kotlin Internal Class"
        android:supportsRtl="true"
        android:theme="@style/Theme.AppCompat.Light.DarkActionBar"
        tools:ignore="GoogleAppIndexingWarning" />
</manifest>
